<% 
    first_name = @employer.rep_fname 
    last_name = @employer.rep_lname
    job_postings = @job_postings
    company_name = @employer.company_name
%>

<% provide(:title, first_name.capitalize + "'s Dashboard") %>
<div class="seeker-dashboard-container">
    <div class="seeker-left-nav">
        <div class="seeker-image">
            <%= gravatar_for @employer %>
        </div>
        
        <div class="seeker-name">
            <%= company_name %>
        </div>
        
        <div class="company-address">
            <%= @employer.address %>
        </div>
        
        <div class="company-representative">
            <%= "Company Rep: #{first_name} #{last_name}" %>
        </div>
        
        <%= link_to "Edit Profile", edit_employer_path(@employer), class: "btn btn-default edit-seeker-button" %>
        <%= link_to "Post New Job", new_job_posting_path, class: "btn btn-default seeker-logout-button" %>
        <%= link_to "Log out", destroy_employer_session_path, :method => :delete, class: "btn btn-default seeker-logout-button" %>
    </div>
    
    
    <div class="seeker-recommended-jobs">
        <h1>Your Open Job Postings</h1>
        
        <% @job_postings.each do |job_posting| %>
            <div class="job-posting">
                <div class="first-row">
                    <div class="title-and-company">
                        <h1 class="posting-title"><%= job_posting.position %></h1>
                        <h4 class="company-and-location"><%= company_name.capitalize %> | <%= job_posting.location.upcase %></h4>
                    </div>
                    <div class="company-image"><%= gravatar_for @employer %></div>
                </div>
                
                <div class="second-row">
                    <div class="btn job-type"><%= job_posting.job_type.upcase %></div>
                </div>
                
                <div class="third-row">
                    <%= job_posting.job_description %>
                </div>
                
                <div class="job-buttons">
                    <%= link_to "View Applicants", job_posting_path(job_posting), class: "btn btn-default view-applicants-button" %>
                    <%= link_to "Edit Job Posting", edit_job_posting_path(job_posting), class: "btn btn-default edit-job-posting-button" %>
                </div>
            </div>
        <% end %>
    </div>
</div>